<div class="container mt-5" style="width: 60vh">
  <% if user_signed_in? %>
    <h3> Hi <%= current_user.name %>!</h3>
    <%= link_to "My Accounts", accounts_path, class: "btn btn-primary" %>
    <p><%= link_to "Log out", destroy_user_session_path, method: :delete %></p>

    <% else %>
    <h3>Welcome to BankApp-JF</h3>
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
  <% end %>
</div>
