<div class="container mt-5">
  <h2>Are you sure You'd like to create a new account?</h2>
  <%= simple_form_for @account do |f| %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back", root_path %>
</div>
