<div class="container my-3 px-5">
  <h2>Are you sure You'd like to create a new account?</h2>
  <h4>The maintanance cost per bank account is US$7,00 per month</h4>
  <%= simple_form_for @account do |f| %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back", root_path %>
</div>
